In [24]:
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager  
import pandas as pd

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\Andrew\.wdm\drivers\chromedriver\win32\95.0.4638.54\chromedriver.exe] found in cache

In [81]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [82]:
html = browser.html
soup = bs(html, 'html.parser')

In [88]:
title = soup.find('div', class_= 'content_title').text
desc = soup.find('div', class_ = 'article_teaser_body').text
print(title)
print(desc)

Mars Helicopter Attached to NASA's Perseverance Rover
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

In [97]:
url_space = 'https://spaceimages-mars.com/'
browser.visit(url_space)

In [98]:
html = browser.html
soup = bs(html, 'html.parser')

In [100]:
featured_image_src = soup.find('img', class_ = 'headerimage fade-in')['src']
featured_image = url_space + featured_image_src
print(featured_image)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [96]:
url_table = 'https://galaxyfacts-mars.com/'
table = pd.read_html(url_table)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [97]:
df = table[0]
df.head()
df = df.transpose()
table_df = df.rename(columns=df.iloc[0])
table_df

,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
0,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
1,Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-87 to -5 °C
2,Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

In [98]:
table_df = table_df.drop([0])

In [99]:
table_df

,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
1,Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-87 to -5 °C
2,Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

In [100]:
html_table = table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Distance from Sun:</th>\n      <th>Length of Year:</th>\n      <th>Temperature:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Mars</td>\n      <td>6,779 km</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>2</td>\n      <td>227,943,824 km</td>\n      <td>687 Earth days</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Earth</td>\n      <td>12,742 km</td>\n      <td>5.97 × 10^24 kg</td>\n      <td>1</td>\n      <td>149,598,262 km</td>\n      <td>365.24 days</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [85]:
url_hemi = 'https://marshemispheres.com/'
browser.visit(url_hemi)

In [72]:
html = browser.html
soup = bs(html, 'html.parser')

In [94]:
tests = soup.find_all('div', class_='item')

hemisphere_imgs = []
for test in tests:
    title = test.find('h3').text
    browser.links.find_by_partial_text(title).click()
    
    html_link = browser.html
    soup_link = bs(html_link, 'html.parser')
    
    img_scr = soup_link.find('img', class_ = 'wide-image')['src']
    img_scr_full = url_hemi + img_scr
    
    links = {}
    links['title'] = title
    links['img_url'] = img_scr_full
    
    browser.back()
    hemisphere_imgs.append(links)
    
hemisphere_imgs
browser.quit()

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]