In [1]:
from bs4 import BeautifulSoup as bs
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager  
import pandas as pd

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\Andrew\.wdm\drivers\chromedriver\win32\95.0.4638.69\chromedriver.exe] found in cache

In [2]:
#Chromedriver getting browser
url = 'https://redplanetscience.com/'
browser.visit(url)

In [3]:
#Scrape using soup
html = browser.html
soup = bs(html, 'html.parser')

In [4]:
#Getting html content
title = soup.find('div', class_= 'content_title').text
desc = soup.find('div', class_ = 'article_teaser_body').text
print(title)
print(desc)

NASA's Mars Reconnaissance Orbiter Undergoes Memory Update
Other orbiters will continue relaying data from Mars surface missions for a two-week period.

In [5]:
url_space = 'https://spaceimages-mars.com/'
browser.visit(url_space)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
#Getting image source
featured_image_src = soup.find('img', class_ = 'headerimage fade-in')['src']
featured_image = url_space + featured_image_src
print(featured_image)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [8]:
#Use Pandas to read source table
url_table = 'https://galaxyfacts-mars.com/'
table = pd.read_html(url_table)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
#Get table in Df and clean it
non_transposed = table[0]
normal_table = non_transposed.rename(columns= non_transposed.iloc[0])
mars_table = normal_table.drop([0]).copy()

In [6]:
#Hide index, unfortunately this doesn't work when using to_html()
mars_earth_table = mars_table.style.hide_index()
mars_earth_table

In [10]:
#transform to html
mars_html = mars_table.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
#cllean and transpose
df = table[0]
df.head()
df = df.transpose()
table_df = df.rename(columns=df.iloc[0])
table_df

,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
0,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
1,Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-87 to -5 °C
2,Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

In [12]:
#drop first row
table_df = table_df.drop([0])

In [13]:
table_df

,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
1,Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-87 to -5 °C
2,Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

In [14]:
html_table = table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Distance from Sun:</th>\n      <th>Length of Year:</th>\n      <th>Temperature:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Mars</td>\n      <td>6,779 km</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>2</td>\n      <td>227,943,824 km</td>\n      <td>687 Earth days</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Earth</td>\n      <td>12,742 km</td>\n      <td>5.97 × 10^24 kg</td>\n      <td>1</td>\n      <td>149,598,262 km</td>\n      <td>365.24 days</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
url_hemi = 'https://marshemispheres.com/'
browser.visit(url_hemi)

In [16]:
html = browser.html
soup = bs(html, 'html.parser')

In [17]:
#find all hmtl content in div class item
tests = soup.find_all('div', class_='item')

hemisphere_imgs = []
#find links/image titles and use chrome.browser to click each link. Once clicked, call scrape function again and scrape
#new page for image url. Combine img url with home url and append to dictionary then append to list.
for test in tests:
    title = test.find('h3').text
    browser.links.find_by_partial_text(title).click()
    
    html_link = browser.html
    soup_link = bs(html_link, 'html.parser')
    
    img_scr = soup_link.find('img', class_ = 'wide-image')['src']
    img_scr_full = url_hemi + img_scr
    
    links = {}
    links['title'] = title
    links['img_url'] = img_scr_full
    
    browser.back()
    hemisphere_imgs.append(links)
    
hemisphere_imgs
browser.quit()